<div class="container" ng-controller="bookPageController">
	<div class="table-responsive">
		<table class="table table-condensed">
			<tr>
				<td class="col-lg-2" align="center"><div style="padding-left: 0px; padding-right: 0px;">
						<img class="img-responsive" width="220" height="310" src={{book.image}}></img>
					</div></td>
				<td class="col-lg-2" align="left">
					<div id="bookf">
						<b><u><font size="5">"{{book.bookName}}"</font></u></b>
					</div> <br>
					<div id="bookf">
						<b>{{book.price}}$</b>
					</div> <br>
					<table>
						<tr>
							<td>
								<div>
									<div ng-switch on="isLiked()">
										<div ng-switch-when="-1">
											<button data-toggle="tooltip" data-placement="top" title={{book.likes}} type="button" class="btn-default btn-sm" ng-click="doLike(book)" ng-disabled="hasBook(book)==-1 || isAdmin()">
												<span class="glyphicon glyphicon-thumbs-up"></span> Like {{(book.likes.length)>0? book.likes.length : ""}}
											</button>
										</div>
										<div ng-switch-default>
											<button data-toggle="tooltip" data-placement="top" title={{book.likes}} type="button" class="btn-default btn-sm" ng-click="doUnLike(book)" ng-disabled="hasBook(book)==-1 || isAdmin()">
												<font color="blue"> <span class="glyphicon glyphicon-thumbs-up"></span> Like {{(book.likes.length)>0? book.likes.length : ""}}
												</font>
											</button>
										</div>
									</div>
								</div>
							</td>
							<td>
								<div ng-switch on="hasBook()">
									<div ng-switch-when="-1">
										<div ng-switch on="isOnCart(book)">
											<div ng-switch-when="0">
												<button type="button" ng-click="addToCart()" class="btn-default btn-sm">
													<span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart
												</button>
												<button type="button" ng-click="buyNow()" class="btn-default btn-sm">
													<span class="glyphicon glyphicon-credit-card"></span> Buy Now!
												</button>
											</div>
											<div ng-switch-default>
												<button type="button" ng-click="removeFromCart(book)" class="btn-default btn-sm">
													<span class="glyphicon glyphicon-shopping-cart"></span> Remove From Cart
												</button>
											</div>
										</div>
									</div>
									<div ng-switch-default>
										<button type="button" class="btn btn-default btn-sm" ng-click="goToReadBook()">
											<span class="glyphicon glyphicon-book"> </span>Read Me!
										</button>
									</div>
								</div>
							<td>
						</tr>
					</table>
				</td>
				<td class="col-lg-3"></td>
			</tr>
		</table>
	</div>
	<div class="container-fluid">
		<div class="col-md-12 product-info">
			<ul id="myTab" class="nav nav-tabs nav_tabs">
				<li class="active"><a href="" ng-click="showDescription()" data-toggle="tab">DESCRIPTION</a></li>
				<li><a href="" ng-click="showReviews()" data-toggle="tab">REVIEWS</a></li>
				<li ng-hide="hasBook(book) == -1 || isAdmin()"><a href="" ng-click="addReview()" data-toggle="tab">ADD REVIEW</a></li>
			</ul>
			<div id="myTabContent" class="tab-content">
				<div class="tab-pane fade in active" id="service-one">
					<section class="container product-info">
						<div ng-include="bookPageBoxPath"></div>
					</section>
				</div>
			</div>
			<hr>
		</div>
	</div>
</div>
