<!-- customer help me page -->

<div class="container" align="center" ng-controller="helpMeController">
	<br>
	<h2><b>Contact Us:</b></h2>
	<form  name="form" class="form-horizontal" role="form">
		<div align="center" class="form-group">
			<div class="col-sm-8 col-sm-offset-2">
				<textarea class="form-control" ng-model="helpMessage" rows="5" placeholder="Up to 500 characters" required maxlength="500"></textarea>
			</div>
		</div>
		<div class="form-group">
			<div align="center">
				<button class="btn btn-warning text-uppercase" ng-click="submitHelpMessage(); helpMessage='';" ng-disabled="form.$invalid" type="submit">
					<span class="glyphicon glyphicon-send"></span> Submit
				</button>
			</div>
		</div>
		<br>
		<div ng-if="submitHelpMessageSucceed">
			<div class="alert alert-success col-sm-8 col-sm-offset-2">
				<strong>Your message has been sent. You will get a reply soon.</strong>
			</div>
		</div>
	</form>
</div>