<style>
.bookf {
	font-family: Lucida Sans;
}
</style>
<div class="container" ng-controller="booksController">
	<table class="table table-condensed">
		<tr ng-repeat="book in books" ng-if="hasBook(book) != -1">
			<td class="col-lg-2" align="center"><div style="padding-left: 0px; padding-right: 0px;">
					<a href=""><img ng-click="goToBookPage(book)" class="img-responsive" width="140" height="220" src={{book.image}}></img></a>
				</div></td>
			<td class="col-lg-6" align="left">
				<div class="bookf">
					<a href="" ng-click="goToBookPage(book)" style="color: black;"><u><b>"{{book.bookName}}"</b></u></a>
				</div> <br>
				<div class="bookf">
					{{shortDescription(book.description)}} <a href="" ng-click="goToBookPage(book)"> (read more) </a>
				</div> <br>
				<div class="bookf">
					<b>{{book.price}}$</b>
				</div> <br>
				<table>
					<tr>
						<td>
							<div ng-switch on="isLiked(book)">
								<div ng-switch-when="-1">
									<button data-toggle="tooltip" data-placement="top" title={{book.likes}} type="button" class="btn-default btn-sm" ng-click="doLike(book)" ng-disabled="hasBook(book)==-1">
										<span class="glyphicon glyphicon-thumbs-up"></span> Like {{book.likesList.length}}
									</button>
								</div>
								<div ng-switch-default>
									<button data-toggle="tooltip" data-placement="top" title={{book.likes}} type="button" class="btn-default btn-sm" ng-click="doUnLike(book)" ng-disabled="hasBook(book)==-1">
										<font color="blue"> <span class="glyphicon glyphicon-thumbs-up"></span> Like {{book.likesList.length}}
										</font>
									</button>
								</div>
							</div>
						</td>
						<td>
							<div ng-switch on="hasBook(book)">
								<div ng-switch-when="-1">
									<button type="button" class="btn-default btn-sm">
										<span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart
									</button>
								</div>
								<div ng-switch-default>
									<button type="button" class="btn-default btn-sm" ng-click="goToReadBook(book)">
										<span class="glyphicon glyphicon-book"> </span>Read Me!
									</button>
								</div>
							</div>
						<td>
					</tr>
				</table>
			</td>
			<td class="col-lg-4"></td>
		</tr>
	</table>
</div>
