<div class="myReview">
	<br>
	<div ng-repeat="review in reviews" ng-if="review.isApproved > 0">
		<div ng-if="review.bookName == book.bookName">
			<a class="pull-left"> <img class="media-object img-circle" ng-src="{{getReviewImage(review)}}" onerror="this.src='Images/default.jpg'" alt="profile">
			</a>
			<div class="media-body">
				<div class="well well-lg">
					<div style="display: inline-block">
						<div>
							<h4 class="text-uppercase">{{review.reviewerUsername}}</h4>
						</div>
						<div>
							<h5 class="text-uppercase">{{review.date}}</h5>
						</div>
					</div>
					<h5 style="font-weight:normal;">{{review.review}}</h5>
				</div>
			</div>
		</div>
	</div>
</div>