<div class="myReview">
	<br>
	<div ng-repeat="review in reviews">
		<div ng-if="review.bookName == book.bookName">
			<a class="pull-left" href="#"> <img class="media-object img-circle" ng-src="imgSource" onerror="this.src='Images/default.jpg'" alt="profile">
			</a>
			<div class="media-body">
				<div class="well well-lg">
					<span style="display: inline-block">
						<div>
							<h4 class="text-uppercase">{{review.reviewerUsername}}</h4>
						</div>
						<div>
							<h4 class="text-uppercase">{{review.date}}</h4>
						</div>
					</span>
					<p>{{review.review}}</p>
				</div>
			</div>
		</div>
	</div>
</div>