<div class="container-fluid" ng-controller="shoppingCartController">
	<div class="row">
		<div class="col-lg-12">
			<div class="panel">
				<div class="panel-body">
					<div ng-repeat="book in cartBooks">
						<div class="row">
							<div class="col-lg-2" align="center">
								<img class="img-responsive" src={{book.image}} width="90" height="160">
							</div>
							<div class="col-lg-4">
								<h4 class="product-name">
									<strong>{{book.bookName}}</strong>
								</h4>
							</div>
							<div class="col-lg-6">
								<div class="col-md-6 text-right">
									<h4>
										<strong>{{book.price}}$</strong>
									</h4>
								</div>
								<div class="col-md-2">
									<button type="button" ng-click="removeFromCart(book)" class="btn btn-link btn-lg">
										<span class="glyphicon glyphicon-trash"> </span>
									</button>
								</div>
							</div>
						</div>
						<hr>
					</div>
				</div>
				<div class="panel-footer">
					<div class="row text-center">
						<div class="col-xs-9">
							<h4 class="text-right">
								Total <strong>{{amountToPay()}}$</strong>
							</h4>
						</div>
						<div class="col-xs-3">
							<button ng-disabled="isCartEmpty()" ng-click="nav('HTML/payment.html')" type="button" class="btn btn-success btn-block">Checkout</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>