<style>
.bookBtn {
	border-radius: 7px;
	background-color: rgba(253, 216, 53, 0.7);
	color: white;
	margin-right: 5px;
}

#bookColumn {
	background-color: rgba(255, 255, 255, 0.6);
}

#blackBar {
	background-color: rgba(0, 0, 0, 0.6);
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	color: black;
	position: absolute;
	display: none;
	min-width: 122px;
	padding: 1px;
	background-color: rgba(255, 255, 255, 0.9);
	text-align: center;
	z-index: 1;
	top: 110%;
	left: 50%;
	margin-left: -60px;
	box-shadow: 0px 8px 16px 0px white;
	border-radius: 10px;
	position: absolute;
}

.dropdown-content a {
	padding: 8px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	color: #99A3A4;
	text-decoration: underline;
}

.dropdown:hover .dropdown-content {
	display: block;
	visibility: visible;
}

.dropdown .dropdown-content::after {
	content: "";
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 10px;
	border-style: solid;
	border-color: transparent transparent white transparent;
}



</style>
<div ng-controller="booksController">
	<nav id="blackBar" class="navbar navbar-default navbar-static-top navbar-fixed navbar-inverse">
		<div class="container-fluid">
			<ul class="nav navbar-nav navbar-left">
				<li class="dropdown"><a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expendad="false"><span class="glyphicon glyphicon-filter"> </span><i class="fa fa-home">Filter By</i>&#160;<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="" ng-click="filterType = 0; filterNameValue='';">Filter by name</a></li>
						<li><a href="" ng-click="filterType = 1; filterMinValue=''; filterMaxValue='';">Filter by price</a></li>
						<li><a href="" ng-click="filterType = 2; filterMinLikeValue=''; filterMaxLikeValue='';">Filter by likes</a></li>
					</ul></li>
				<form class="navbar-form navbar-left">
					<div ng-show="filterType == 0" class="form-group">
						<input type="text" class="form-control" ng-model="filterNameValue" placeholder="Filter by Book's name">
					</div>
					<div ng-show="filterType == 1" class="form-group">
						<input type="text" class="form-control" ng-model="filterMinValue" size="5" placeholder="Min price"> <input type="text" class="form-control" ng-model="filterMaxValue" size="5" placeholder="Max price">
					</div>
					<div ng-show="filterType == 2" class="form-group">
						<input type="text" class="form-control" ng-model="filterMinLikeValue" size="5" placeholder="Min likes"> <input type="text" class="form-control" ng-model="filterMaxLikeValue" size="5" placeholder="Max likes">
					</div>
					<div ng-show="!isAdmin()" class="checkbox navbar-btn">
						<label class="navbar-link" for="filterUnfulfilled"> &#160; &#160; Show Only My Books &#160; <input type="checkbox" ng-model="filterMyBooks" class="autosubmit" id="filterUnfulfilled" value="false">
						</label>
					</div>
				</form>
			</ul>
		</div>
	</nav>
	<div class="container">
		<div id="bookColumn" class="scrollable container well well-lg">
			<table class="table">
				<tr ng-repeat="book in books" ng-if="passFilter(book)">
					<td class="col-lg-2" align="center"><div style="padding-left: 0px; padding-right: 0px;">
							<a href=""><img ng-click="goToBookPage(book)" class="img-responsive img-rounded" width="140" height="220" src={{book.image}}></img></a>
						</div></td>
					<td class="col-lg-6" align="left">
						<div>
							<div>
								<a href="" ng-click="goToBookPage(book)" style="color: black;"><u><b>"{{book.bookName}}"</b></u></a>
							</div>
							<br>
							<div>
								{{shortDescription(book.description)}} <a href="" ng-click="goToBookPage(book)"> (read more) </a>
							</div>
							<br>
							<div>
								<b>{{book.price}}$</b>
							</div>
							<br>
							<table>
								<tr>
									<td>
										<div ng-switch on="isLiked(book)">
											<div ng-switch-when="-1">
												<button id="{{book.bookName}}" type="button" class="btn btn-sm bookBtn dropdown dropmenu" ng-click="doLike(book)" ng-disabled="hasBook(book)==-1 || isAdmin()">
													<span class="glyphicon glyphicon-thumbs-up"></span><b> Like </b>{{(book.likes.length)>0? book.likes.length : ""}}
													<div ng-show="book.likes.length > 0" class="dropdown-content" id="{{book.bookName}}-likesContent">
														<div ng-switch on="isAdmin()">
															<div ng-switch-when="true">
																<a href="" ng-repeat="nickName in book.likes" ng-click="goToCustomerPage(nickName)"><b>{{nickName}}</b></a>
															</div>
															<div ng-switch-default>
																<div ng-repeat="nickName in book.likes">{{nickName}}</div>
															</div>
														</div>
													</div>
												</button>
											</div>
											<div ng-switch-default>
												<button id="{{book.bookName}}" data-container="body" data-toggle="popover" data-content="test" data-placement="top" type="button" class="btn btn-sm bookBtn dropdown dropmenu" ng-click="doUnLike(book)" ng-disabled="hasBook(book)==-1 || isAdmin()">
													<font color="blue"> <span class="glyphicon glyphicon-thumbs-up"></span></font><b> Like </b>{{(book.likes.length)>0? book.likes.length : ""}}
													<div ng-show="book.likes.length > 0" class="dropdown-content" id="{{book.bookName}}-likesContent">
														<div ng-switch on="isAdmin()">
															<div ng-switch-when="true">
																<a href="" ng-repeat="nickName in book.likes" ng-click="goToCustomerPage(nickName)"><b>{{nickName}}</b></a>
															</div>
															<div ng-switch-default><div ng-repeat="nickName in book.likes">{{nickName}}</div></div>
														</div>
													</div>
												</button>
											</div>
										</div>
									</td>
									<td>
										<div ng-switch on="hasBook(book)">
											<div ng-switch-when="-1">
												<div ng-switch on="isOnCart(book)">
													<div ng-switch-when="0">
														<button id="bookBtn" type="button" ng-click="addToCart(book)" class=" btn btn-sm bookBtn">
															<span class="glyphicon glyphicon-shopping-cart"></span><b> Shopping Cart </b>
														</button>
														<button id="bookBtn" type="button" ng-click="buyNow(book)" class=" btn btn-sm bookBtn">
															<span class="glyphicon glyphicon-credit-card"></span><b> Buy Now! </b>
														</button>
													</div>
													<div ng-switch-default>
														<button id="bookBtn" type="button" ng-click="removeFromCart(book)" class=" btn btn-sm bookBtn">
															<span class="glyphicon glyphicon-shopping-cart"></span><b> Remove From Cart </b>
														</button>
													</div>
												</div>
											</div>
											<div ng-switch-default>
												<button id="bookBtn" type="button" class=" btn btn-sm bookBtn" ng-click="goToReadBook(book)">
													<span class="glyphicon glyphicon-book"> </span><b> Read Me! </b>
												</button>
											</div>
										</div>
									</td>
								</tr>
							</table>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>