
<!-- <nav class="navbar navbar-default">
	<div class="container">
		<ul class="nav navbar-left">
			<li><a class="navbar-brand"><img src="Images/logo.png" width="210" height="40"> </a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="" ng-click="nav('HTML/userHome.html')"><span class="glyphicon glyphicon-home"></span><i class="fa fa-home"></i>USERS</a></li>
			<li><a href="" ng-click="nav('HTML/userHome.html')"><span class="glyphicon glyphicon-book"></span><i class="fa fa-home"></i>BOOKS</a></li>
			<li><a href="" ng-click="nav('HTML/userHome.html')"><span class="glyphicon glyphicon-shopping-cart"></span><i class="fa fa-comment"></i> MESSAGES <font color="blue"></font></a></li>
			<li><a href="" ng-click="LogOut()"><i class="fa fa-comment"><span class="glyphicon glyphicon-log-out"></span></i>Log-Out</a></li>
		</ul>
	</div>
</nav>
 -->
<style>
 #sidebar {
	background-color: transparent !important;
	border-color: transparent;
	background-image: none;
	box-shadow: none;
} 
</style>

<div id="sidebar" class="well sidebar-nav">
	<h5>
		<i class="glyphicon glyphicon-user"></i> <small><b>USERS</b></small>
	</h5>
	<ul class="nav nav-pills nav-stacked">
		<li><a href="" ng-click="adminNav('HTML/usersPage.html')" >Users Page</a></li>
	</ul>
	<h5>
		<i class="glyphicon glyphicon-book"></i> <small><b>BOOKS</b></small>
	</h5>
	<ul class="nav nav-pills nav-stacked">
		<li><a href="" ng-click="adminNav('HTML/userHome.html')" >All Books</a></li>
	</ul>
		<ul class="nav nav-pills nav-stacked">
		<li><a href="" ng-click="adminNav('HTML/transactions.html')" >Books Transactions</a></li>
	</ul>
	<h5>
		<i class="glyphicon glyphicon-envelope"></i> <small><b>MESSAGES</b> <font color="blue">{{totalMessagesNavDisplay()}}</font> </small>
	</h5>
	<ul class="nav nav-pills nav-stacked">
		<li><a href="" ng-click="adminNav('HTML/reviewsMessages.html')" >Reviews Messages <font color="blue">{{reviewsNavDisplay()}}</font></a></li>
	</ul>
		<ul class="nav nav-pills nav-stacked">
		<li><a href="" ng-click="adminNav('HTML/adminMessages.html'); updateMessagesStatus();" >Help me! Messages <font color="blue">{{messagesNavDisplay()}}</font></a></li>
	</ul>
</div>
